/* 7f. Linkediln signup */
p {
  font-family: Arial;
  font-size: 20px;
  color: rgb(89, 89, 89);
  margin-bottom: 0px;
  margin-top: 0px;
}
.search {
  margin-top: 5px;
  font-size: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  width: 490px;
  color: rgb(62, 62, 62);
}
.para {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.priv:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button {
  background-color: rgb(37, 92, 202);
  color: white;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 50px;
  cursor: pointer;
}
.button:hover {background-color: rgb(29, 78, 176);}


/* 7g. Twitter text box */
.pic {
  width: 100px;
  border-radius: 500px;
  box-shadow: 0px 0px 5px black;
  vertical-align: middle;
}
.happen {
  margin-left: 20px;
  font-size: 30px;
  vertical-align: middle;
  color: rgb(89, 89, 89);
  border: none;
}
.happen:active {border-color: white;}

.tweet_button {
  font-weight: bold; /*Bold's the text in the button*/
  font-size: 25px; /*Change text size in button*/
  background-color: rgb(29, 155, 240);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow 0.15s, opacity 0.15s;
  vertical-align: middle;
}
.tweet_button:hover {background-color: rgb(23, 125, 193);}