/* <!-- 8d. Sign up form --> */
.name,.email,.signup {
  font-family: Arial;
  color: grey;
  font-size: 25px;
  padding: 15px;
  padding-left: 25px;
  width: 200px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 10px;
  border-width: 1px;
}
.email {
  width: 450px;
}
.signup {
  color: white;
  background-color: rgb(53, 94, 229);
  font-weight: bold;
  width: 492px;
  border: none;
}

/* <!-- 8e. Uber request-a-ride form --> */
.para {
  font-family: arial;
  font-size: 50px;
  margin-bottom: 30px;
}
.pickup,.destination {
  width: 492px;
  border: none;
  background-color: rgb(237, 237, 237);
  font-size: 20px;
  padding: 20px;
  padding-left: 30px;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
}
.request {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 40px;
    margin-top: 40px;
}
.schedule {
  border: none;
  background-color: rgb(237, 237, 237);
  font-size: 20px;
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 10px;
  border-radius: 3px;
}
