/* <!-- Text Styles practice [29/5/24] -->
<!-- you can start a class name with a number/int --> */

    /* 5a. */
    .tahoma_font {
        font-family: tahoma;
        font-weight: bold;
        font-size: 50px;
    }
    /* 5b. */
    .common_font_5b_5d {
        font-family: Arial;
    }
    .arial_font {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 0px;
    }
    .arial_font_2 {
        color: rgb(216, 41, 41);
        font-size: 40px;
        margin-top: 10px;
    }
    /* 5c. */
    .common_font_5c {
        font-family: Verdana;
    }
    .verdana_font {
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 0px;
    }
    .verdana_font_2 {
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 8px;
        color: grey;
    }
    .verdana_font_3 {
        font-size: 30px;
        width: 550px;
    }
    .get_button {
        color: white;
        font-size: 25px;
        background-color: rgb(17, 143, 17);
        border-radius: 10px;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
    }
    .get_button:active {
        background-color: rgb(13, 112, 13);
    }
    /* 5d. */
    .alignment {
        text-align: center;
    }
    .font_5d {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 0px;
    }
    .font_5d_2 {
        font-size: 24px;
    }
    .font_5d_3 {
        font-size: 24px;
        color: rgb(78, 78, 186);
    }
    .font_5d_3:hover {
        text-decoration: underline;
        cursor: pointer;
    }
